@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.gleem {
    display: flex;
    flex-direction: row;
    border-radius:40px;
    width: 450px;
    border: none;
    outline: none;
    background-color: #FF6720;
    height: 60px;
    color: #FFF;
    margin-left: 17%;
    margin-right: auto;
    margin-top: 17px;
    padding: 0;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
#name, #web{
    margin-top: 22px;
    font-size: 13px;
}
@media only screen and (max-width:720px ) {
    .gleem {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 550px;
        gap: 15px;
    }
}
@media only screen and (min-width:720px ) {
    .gleem {
        transition: all 500ms ease;
        gap: 30px;
        
    }
    
    
}
