.gleem {
    border-radius:40px;
    width: 450px;
    border: none;
    outline: none;
    background-color: #FF6720;
    height: 60px;
    color: #FFF;
    margin-left: 17%;
    margin-right: auto;
    margin-top: 17px;
}
.gleem .wrap #name{
    color: #FFF;
    margin-top: 17px;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}
.gleem .wrap #web{
    color: #FFF;
    margin-left: 100px;
    font-size: 16px;
}
@media only screen and (max-width:480px ) {
    .gleem {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 550px;
    }
    
}
@media only screen and (max-width:1024px ) {
    .gleem {
        margin-top: 550px;
        transition: all 500ms ease;
    }
    
}
